{% extends "home.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
{{ super() }}

<h2> {{description[1]}} by {{description[3]}}</h2>
{% if is_owner %}
<a href = "/blog/{{blog_id}}/create_entry"> Create a new entry</a><br>
{% endif %}

{% for entry in entries %}
<h3>
{{ entry['timestamp'] }}
</h3>
<a href = "/blog/{{blog_id}}/entry/{{entry['entryid']}}/edit_history"> View Entry's Edit History</a><br>
{% if is_owner %}
<a href = "/blog/{{blog_id}}/entry/{{entry['entryid']}}/edit?content={{entry['content']}}"> Edit Entry</a><br>
{% endif %}
<br>
{% for line in entry['content'] %}
{{ line }} <br>
{% endfor %} <br>

{% endfor %}
{% endblock %}
