{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% block nav %}
<center>
    <table>
        <td>
            <h3><a href="/home">Home</a></h3>
        </td>
        <td>
            <h3><a href="/profile/{{userid}}">Profile</a></h3>
        </td>
        <td>
            <h3><a href="/settings">Settings</a></h3>
        </td>
        <td>
            <h3><a href="/logout">Logout</a></h3>
        </td>
    </table>
    <form action='/search' method='POST'><input type="text" name="search_query" placeholder="Search"><input
            type="submit" value="Search"></form>
</center>
{% endblock %}
{% for blog in blogs %}
<h3><a href="/blog/{{blog[0]}}"> {{blog[1]}} </a> by <a href="/profile/{{blog[2]}}"> {{blog[3]}}</a></h3>
{% endfor %}
{% endblock %}