{% extends "layout.html" %}
{% block header %}
<h1> Welcome </h1>
{% endblock %}

{% block body %}
{% block nav %}
<table>
    <td><a href="/home">Home</a></td>
    <td>Search</td>
    <td><a href="/profile/{{userid}}">Profile</a></td>
    <td><a href="/settings">Settings</a></td>
    <td><a href="/logout">Logout</a></td>
</table>
{% endblock %}
{% for blog in blogs %}
<a href="/blog/{{blog[0]}}"> {{blog[1]}} </a> by <a href="/profile/{{blog[2]}}"> {{blog[3]}}</a><br>
{% endfor %}
{% endblock %}
