<!DOCTYPE html>
<html>

<head>
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>

<body>
  <center>
    <h1>Tumblr: the SeQueL</h1>
    {% block header %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <font color="red">{{ message }}</font><br>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </center>


  {% block body %}
  {% endblock %}

</body>

<footer>
  <hr>
  {% block footer %}
  &copy Team SeQueL: Joseph Lee, Yevgeniy Gorbachev, Eric Lau
  {% endblock %}
</footer>

</html>