{% extends "home.html" %}

{% block title %}
Settings
{% endblock %}

{% block header %}
<h1> Settings </h1>
{% endblock %}

{% block body %}
{{ super() }}
<br>
<form action="/settings" method="post">
      Reset Credentials<br>
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      Confirm Password: <input type="password" name="confirmpassword"><br>
      <br>
      <input type="submit" value="Reset"><br>
  </form>
</form>

{% endblock %}
